#main {
  button {
  margin-right: 1em;
  }

  button.pure-button {
  border: 1px solid grey;

  &.button-warning {
    color: white;
    border: 1 px solid rgb(223, 117, 20);
    background: rgb(223, 117, 20);
  }

  &.pure-button-primary {
    border: 1px solid #0078e7;
  }
  }

  .header-controls {
    h3 {
      margin: 0.75em 0;
    }
  }

  #header-buttons {
    display:flex;
    margin-bottom: 2em;

    >div {
      flex: 1;
    }
  }

  #header-search {
    margin-bottom: 2em;

    input {
      width: calc(100% - 20px);
    }
  }

  #create-shipment-container {
    margin: 1em auto;

    &.button-container {
      text-align: center;
    }
  }

  .shipment-list {
    width: 50vw;
    text-align: left;
    padding: 0;
  }
}
